@model IEnumerable<NorthwindMVC.Services.DTOs.ProductDto>

@{
    ViewData["Title"] = "Index";
}

<h1>商品清單</h1>

<p>
    <a asp-action="Create">新增商品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> |  *@
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a> |
                        <span id="action-button">
                    @{
                        if (item.Status == "上架中")
                        {
                            <button type="button" class="btn btn-danger btnAction" data-id="@item.Id">下架</button>
                        }
                        else if (item.Status == "已下架")
                        {
                                <button type="button" class="btn btn-primary btnAction" data-id="@item.Id">上架</button>
                        }
                    }
                        </span>

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        // 下架按鈕
        const btnAction = document.querySelectorAll(".btnAction");
        btnAction.forEach(button => {
            button.addEventListener("click", async (e) => {
                const dataId = e.currentTarget.getAttribute('data-id');
                const url = `@Url.Content("~/api/OffProduct")?id=${dataId}`;
                
                const res = await fetch(url);

                // 頁面刷新 代替 畫面部分更新
                location.reload();
            });
        });
    </script>
}